/* 배경색 */
.body1 {
  background-color: #f3f3f3;
}

/* 에픽하이 메인 */
.epmain {
  padding: 200px 0px;
  background-color: #f3f3f3;
}

/* 에픽하이 메인 이름 */
.epname {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* 에픽하이 이름 이미지 */
.epname-logo {
  width: 300px;
  display: block;
  margin: auto;
}

/* 에픽하이 단체 이미지 크기 */
.epname-img {
  display: block;
  margin: auto;
  width: 1000px;
}

/* 제목 설정 */
.member-title {
  margin: 50px 300px;
  font-size: 40px;
}

/* 멤버별 이미지 */
.member-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
}
.member-img img {
  width: 400px;
}

/* 멤버별 상세정보 */
.member-name {
  display: flex;
  text-align: center;
  gap: 20px;
  mar: 50px;
}
.member-name p {
  font-size: 20px;
}

/* 내용 설정 */
.writing {
  margin: 0px 300px 100px;
  font-size: 20px;
}

/* 박규봉 이름 */
.bongname {
  font-size: 20px;
  margin: 0px 300px;
}

/* 박규봉 이미지 사이즈 */
.bongimg {
  width: 400px;
  margin: 0px 300px;
}

/* 에픽하이 사이트 */
.epsite {
  margin: 0px 300px 100px;
  font-size: 20px;
  color: blue;
}
.epsite:hover {
  text-decoration: underline;
}

/* 수상경력 테이블 */
.eptable {
  border: 2px solid black;
  border-spacing: 0;
  border-radius: 10px;
  width: 75%;
  margin: auto;
  overflow: hidden;
}
.eptable th,
.eptable td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}
