html {
  scroll-behavior: smooth;
}

.community--write--mainimg {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  text-shadow: 5px 5px 20px blueviolet;
  font-size: 100px;
  padding: 80px 10px;
  border-bottom: 2px solid blue;
}

.community--form--inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.community--form--inputs p {
  font-size: 30px;
}

.community--form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.writing--input--name {
  border-radius: 5px;
  border: 1px solid gray;
  width: 100%;
  height: 30px;
}

.writing--input--name::placeholder,
.writing--input--text::placeholder {
  text-indent: 10px;
}

.writing--input--text {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  border: 1px solid gray;
}

.community--upload {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.community--upload:hover {
  background-color: #ff5f5f;
}

.community--file--upload {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.community--file--upload:hover {
  background-color: #555;
}

/**/

.top-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 55px;
  font-size: 22px;
  text-decoration: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
  z-index: 999;
}
