html {
  scroll-behavior: smooth;
}

.community--board--mainimg {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  text-shadow: 5px 5px 20px gold;
  font-size: 100px;
  padding: 80px 10px;
  border-bottom: 2px solid gold;
}

.community--main--board {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main--board--list {
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  table-layout: fixed;
}

.main--board--list thead {
  background-color: gainsboro;
}

.main--board--list td {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid rgb(201, 192, 192);
}

.main--board--list td:nth-child(1) {
  width: 10%;
}
.main--board--list td:nth-child(2) {
  width: 70%;
}
.main--board--list td:nth-child(3) {
  width: 10%;
}
.main--board--list td:nth-child(4) {
  width: 10%;
}

.community--searchbar {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 60px 50px;
}

.community--searchbar--input {
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid gray;
  width: 300px;
  padding: 10px;
  display: flex;
}

.community--searchbar--btn {
  height: 40px;
  width: 45px;
  border-radius: 8px;
  border: 1px solid gray;
}

/**/

.user--board--title {
  font-size: 24px;
  border-bottom: 1px solid #c9c5c5;
}

.community--post-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1280px;

  margin: 40px auto;
}

.community--user--board,
.community--user--comment--list {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.community--user--board {
  border-bottom: 1px solid gray;
}

.user--board--detail {
  margin-top: 50px;
}

.community--user--comment--list td {
  padding: 3px;
  text-align: left;
}

.community--user--comment--list td:nth-child(1) {
  width: 10%;
}
.community--user--comment--list td:nth-child(2) {
  width: 80%;
}
.community--user--comment--list td:nth-child(3) {
  width: 10%;
}

.community--comentbar {
  display: flex;
  justify-content: center;
  text-align: center;
}

.community--comentbar--input {
  width: 500px;
  height: 100px;
}

.community--comentbar--btn {
  background-color: rgb(36, 36, 36);
  width: 100px;
  color: white;
}

.community--board--btn {
  display: flex;
  justify-content: end;

  gap: 20px;
  padding-right: 150px;
}

.community--writing--btn {
  height: 40px;
  width: 60px;
  text-align: center;
  font-weight: 500;
  border: 1px solid gray;
  cursor: pointer;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.community--writing--btn:hover {
  background-color: #555;
}

.community--fanletter--btn {
  height: 40px;
  width: 90px;
  text-align: center;
  font-weight: 500;
  border: none;
  background-color: #ff0000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.community--fanletter--btn:hover {
  background-color: #ff5f5f;
}

/**/

.top-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 55px;
  font-size: 22px;
  text-decoration: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
  z-index: 999;
}
