@charset "utf-8";

:root {
  --primary-color: #eeebeb;
}

html:has(.form-skin),
body:has(.form-skin) {
  height: 100%;
}

.form-skin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: min(100%, 320px);
  height: 100%;
  margin-inline: auto;
}

.form-skin form {
  width: 100%;
}

.form-skin label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-skin input {
  display: inline-block;
  width: 100%;
  height: 40px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-skin .form-submit {
  margin-top: 30px;
  text-align: center;
}

.btn-primary {
  display: block;
  padding-block: 12px;
  background-color: var(--primary-color);
  border-radius: 4px;
}

#yetMember {
  width: 100%;
  text-align: center;
}

#yetMember p {
  margin-bottom: 10px;
}
